__pycache__
ISBI2016_ISIC_Part3_Test_Data/
ISBI2016_ISIC_Part3_Test_GroundTruth.csv
ISBI2016_ISIC_Part3_Test_GroundTruth.csv.1
ISBI2016_ISIC_Part3_Test_GroundTruth.csv.2
ISBI2016_ISIC_Part3_Training_Data/
ISBI2016_ISIC_Part3_Training_GroundTruth.csv
ISIC-2017_Test_v2_Part2_GroundTruth/
ISIC-2017_Test_v2_Part3_GroundTruth.csv
ISIC-2017_Training_Part2_GroundTruth/
ISIC-2017_Training_Part3_GroundTruth.csv
ISIC-2017_Validation_Part1_GroundTruth/
ISIC-2017_Validation_Part2_GroundTruth/
ISIC-2017_Validation_Part3_GroundTruth.csv
data_2016/
data_2017/
test.csv
train.csv
train_oversample.csv
val.csv
val_results.csv
logs/
etc/
conda-meta/
